<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vanilla-zoom.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calligraffitti&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Charm&amp;display=swap">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-dark clean-navbar"
        style="box-shadow: 0px 0px var(--bs-red);background: var(--bs-yellow);">
        <div class="container"><a class="navbar-brand logo" href="/" style="color: var(--bs-light);">Aural
                Mate</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: var(--bs-light);">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/features"
                            style="color: var(--bs-light);">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="/convert" style="color: var(--bs-light);">Convert</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/about-us" style="color: var(--bs-light);">About
                            Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us" style="color: var(--bs-light);">Contact
                            Us</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                <button class="btn btn-primary" type="button" onclick="window.location.href = '/profile';">{{current_user.username}}</button>
                {% else %}
                <button class="btn btn-primary" type="button" onclick="window.location.href = '/login';">Log
                    In</button>
                {% endif %}
            </div>
        </div>
    </nav>
    <main class="text-dark page landing-page">
        <section class="clean-block clean-hero"
            style="color: rgba(255, 255, 255, 0);background: url(&quot;https://wallpaperaccess.com/full/1567665.png&quot;);">
            <div class="text">
                <h6 style="font-size: 90px;text-align: center;font-family: Allan, serif;"><strong>Welcome to Aural
                        Mate</strong></h6>
                <p style="font-style: italic;border-style: none;">- Facilitating life</p>
            </div>
        </section>
        <section class="text-black-50 bg-dark bg-gradient border-light shadow-lg clean-block clean-info dark"
            style="color: var(--bs-gray-500);">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Info</h2>
                    <p style="color: var(--bs-light);width: 700px;">Our technology reads aloud digital text. It can take
                        text from users and convert them into audio.&nbsp;</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img
                            src="https://www.houndify.com/_next/static/chunks/images/AutomaticSpeechRecognition_HeroBanner_720x512@2x-b9bbd429ed4c8fb45a514efbe50c578b.png"
                            width="650"></div>
                    <div class="col-md-6">
                        <h3></h3>
                        <div class="getting-started-info">
                            <p style="color: var(--bs-light);font-size: 20px;"><br>All kinds of text files can be read
                                aloud, including Word, pages document, online web pages can be read aloud. Aims to help
                                kids who struggle with reading.<br><br></p>
                        </div><button class="btn btn-outline-primary btn-lg" type="button"
                            style="background: var(--bs-light);"
                            onclick="window.location.href = '/convert';">Convert</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p style="border-style: none;"></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Quick and easy conversion</h4>
                        <p style="border-style: none;width: 400px;">With just a simple drag-and-drop, you can convert
                            text to audio within seconds. There’s no file size limit nor even the need to register to
                            use our service.<br><br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>The best quality</h4>
                        <p style="border-style: none;width: 400px;">Text to audio conversion is
                            hard. We bring you the
                            very best quality to convert your files.<br><br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Convert in seconds</h4>
                        <p style="border-style: none;width: 400px;">It is seriously ridiculously easy with our tool to
                            convert files online. Try it and you will love it.<br><br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>All platforms are welcome!</h4>
                        <p style="border-style: none;width: 400px;">Our converter works on all computers - no matter if
                            you use Mac, Windows or Linux.<br><br></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Compatibility</h2>
                </div>
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-1"
                    style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;), url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;);">
                    <div class="carousel-inner"
                        style="background: url(&quot;https://barbossabookprinting.com.au/images/portfolio/cream%20book%20pages.jpg&quot;);">
                        <div class="carousel-item active"
                            style="background: url(&quot;https://www.digitional.com/wp-content/uploads/2019/09/Convert-PDF-to-Word-Document.jpg&quot;);">
                            <img class="w-100 d-block"
                                src="https://www.digitional.com/wp-content/uploads/2019/09/Convert-PDF-to-Word-Document.jpg"
                                alt="Slide Image" />
                        </div>
                        <div class="carousel-item"><img class="w-100 d-block"
                                src="{{ url_for('static', filename='img/scenery/image.jpg') }}" alt="Slide Image">
                        </div>
                        <div class="carousel-item"><img class="w-100 d-block"
                                src="{{ url_for('static', filename='img/scenery/tts.png') }}" alt="Slide Image">
                        </div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                                class="carousel-control-prev-icon"></span><span
                                class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                            href="#carousel-1" role="button" data-bs-slide="next"><span
                                class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card">
                            <div class="card-body info"><img src="{{ url_for('static', filename='img/Sanika.jpeg') }}"
                                    style="width: 300px;height: 300px;padding: 10px;">
                                <h4 class="card-title">Sanika Badhe</h4>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                                            class="icon-social-instagram"></i></a><a href="#"><i
                                            class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card">
                            <div class="card-body info"><img src="{{ url_for('static', filename='img/Pooja.jpeg') }}"
                                    style="width: 300px;height: 300px;padding: 10px;">
                                <h4 class="card-title">Pooja Bendale</h4>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                                            class="icon-social-instagram"></i></a><a href="#"><i
                                            class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card">
                            <div class="card-body info"><img src="{{ url_for('static', filename='img/Sarthak.jpeg') }}"
                                    style="width: 300px;height: 300px;padding: 10px;">
                                <h4 class="card-title">Sarthak Bhagat</h4>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                                            class="icon-social-instagram"></i></a><a href="#"><i
                                            class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/login">Log In</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/about-us">Company Information</a></li>
                        <li><a href="/contact-us">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="/features">FAQ</a></li>
                        <li><a href="/about-us">Help desk</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Copyright Text</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ url_for('static', filename='js/vanilla-zoom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>

</html>
