<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vanilla-zoom.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calligraffitti&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Charm&amp;display=swap">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-dark clean-navbar"
        style="box-shadow: 0px 0px var(--bs-red);background: var(--bs-yellow);">
        <div class="container"><a class="navbar-brand logo" href="#" style="color: var(--bs-light);">Aural
                Mate</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/index.html"
                            style="color: var(--bs-light);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/features.html"
                            style="color: var(--bs-light);">Convert</a></li>
                    <li class="nav-item dropdown" style="color: var(--bs-body-bg);"><a class="dropdown-toggle nav-link"
                            aria-expanded="false" data-bs-toggle="dropdown" href="#"
                            style="color: var(--bs-body-bg);font-size: 12.8px;">INDUSTRIES</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">ACCESSIBILITY</a>
                            <a class="dropdown-item" href="#">AUTOMOTIVE</a>
                            <a class="dropdown-item" href="#">ENTERTAINMENT</a>
                            <a class="dropdown-item" href="#">EDUCATION</a>
                            <a class="dropdown-item" href="#">GOVERNMENT</a><a class="dropdown-item"
                                href="#">HEALTHCARE</a>
                            <a class="dropdown-item" href="#">PA & BROADCAST SYSTEM</a>
                            <a class="dropdown-item" href="#">PUBLISHING</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/about-us.html" style="color: var(--bs-light);">About
                            Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us.html"
                            style="color: var(--bs-light);">Contact Us</a></li>
                </ul><button class="btn btn-primary" type="button">Log In / Sign up</button>
            </div>
        </div>
    </nav>
    <main class="text-dark page landing-page">
        <section class="clean-block about-us">
            <h1 style="margin: 10px 0px 8px;padding: 10px;">&nbsp; &nbsp;Plain text to Speech</h1><input
                class="form-control-plaintext" type="text" value="{{ output }}"
                style="padding: 10px;margin: 30px;"><button class="btn btn-primary" type="button"
                style="margin: 33px;color: var(--bs-white);background: var(--bs-gray-500);">Convert</button>
        </section>

    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Copyright Text</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ url_for('static', filename='/js/vanilla-zoom.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/theme.js') }}"></script>
</body>

</html>